################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Release
/LinkedList/Debug
/LinkedList/Release
/NearestNeighbor/Debug
/NearestNeighbor/Release
/Particles/Debug
/Particles/Release
/Shared/Debug
/Shared/Release
/VectorReflection/Debug
/VectorReflection/Release
